@mixin flexMix($justify: center, $align: center, $direction: row) {
    display: flex; /* расположение в ряд */
    justify-content: $justify; /*горизонтальное расположение элементов */
    align-items: $align; /*вертикальное расположение */
    flex-direction: $direction; /*направление элементов */
}

@mixin fontStyle ($size: 16px, $color: black, $family: 'Montserrat') {
    font-size: $size;
    color: $color;
    font-family: $family, sans-serif;
}